<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649293172049-54f1d2l7jbc3ki3ln56jde26d26m72dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649293172049-54f1d2l7jbc3ki3ln56jde26d26m72dp</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Pxe1VEFUpu4QR35Ez6zFautjZDNKxAc</string>
	<key>GCM_SENDER_ID</key>
	<string>649293172049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.windowfilmswa.appv02</string>
	<key>PROJECT_ID</key>
	<string>wfwa--app</string>
	<key>STORAGE_BUCKET</key>
	<string>wfwa--app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649293172049:ios:cc99a6a3f571bb9b6f1770</string>
</dict>
</plist>